.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
output/*
!output/.gitkeep
src/output/
models/*
!models/.gitkeep
*.pth
*.pt
*.onnx
*.engine
data/dataset/*
!data/dataset/.gitkeep
runs/
.DS_Store
tp2cv/
data/train/
data/test/
data/valid/
data/dogs.csv
data/dataset/train/
data/dataset/test/
data/dataset/valid/
data/dataset/*.csv
data/dataset/*.jpg
src/data
src/models
src/output/
src/yolov8n.pt
yolov8n.pt
